.form-row {
    margin-left: 0;
    margin-right: 0;
    justify-content: space-between;
}
.form-group {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 40px;
}
.form-row .form-group {
    padding-left: 0;
    padding-right: 0;
    flex: 0 0 40%;
}
.form-row .form-group:last-child {
    padding-right: 0;
}
.form-control {
    border: 0;
    border-bottom: 1px solid;
    border-radius: 0;
    padding-left: 0;
    padding-right: 0;
    background-color: var(--bg-color);
}
.form-control:focus {
    box-shadow: none;
    padding-left: 0;
    background-color: var(--bg-color);
    padding-right: 0;
    border-color: var(--text-color);
    color: var(--title-color)
} 

.contact {
    background: var(--bg-color);
}

.contact h3 {
    font-size: 20px;
    color: var(--title-color);
}
 
.about__mail {
    margin-bottom: 16px;
}

.about__mail a {
    color: var(--text-color);
}

p {
    color: var(--text-color);
}

@media screen and (max-width: 767px) {
    .button__fill {
        width: 100%;
    }
}

