:root {
    --bg-hd-color: #fff;
    --bg-color: #fff;
    --bg-gray-color: #efefef;
    --title-color: #000;
    --primary: #ff5c00;
    --bg-color-light: #fff;
    --text-color: #5a5a5a;
    --curve: 8px;
    --light-bg-color: #fff;
    --card-box-shadow: 1px 5px 7.5px rgba(14, 13, 13, 0.2);
    --card-hover-box-shadow: 0 0.5rem 1rem rgba(149, 126, 126, 0.09);
    --border-color-light: #fff;
}

[data-theme="dark"] {
    --bg-hd-color: #000;
    --bg-color: #131617;
    --bg-gray-color: #131617;
    --title-color: #fff;
    --light-bg-color: #191c1d;
    --text-color: #7b7b7b;   
    --border-color-light: #333;
}
  
*{
    margin-top: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 1px;
}

body,
html {
    font-family: 'nunito', sans-serif;
    scroll-behavior: smooth;
}

a.active {
    color: #ff5c00;
}
.title h2 {
    font-size: 48px;
    color: var(--primary);
    text-align: center;
    text-transform: capitalize;
    font-weight: bold;
}

.section__padding {
    padding: 48px 0;
} 

img {
    display: block;
}

.button__fill {
    background-color: #ff5c00;
    color:#fff;
    text-transform: uppercase;
    font-size: 16px;
    border: 1px solid transparent;
    line-height: 50px;
    border-radius: var(--curve);
    width: 160px;
    transition: all .5s;
}


.button__fill:hover {
    border: 1px solid #ff5c00;
    background-color: transparent;
    color: #ff5c00;
}

.button__stroke {
    background-color: transparent;
    color:#ff5c00;
    text-transform: uppercase;
    font-size: 16px;
    border: 1px solid #ff5c00;
    line-height: 50px;
    border-radius: var(--curve);
    width: 160px;
    transition: all .5s;
}

.button__stroke:hover {
    color:#fff;
    background-color: #ff5c00;
}

.collection_box_product button {
    border: none;
    border-radius: 8px;
    background: var(--bg-gray-color);
    box-shadow: var(--card-hover-box-shadow);
    display: flex;
    width: 100%;
    height: 70px;
    justify-content: center;
    align-items: center;
}

.collection_box_product p {
    font-weight: bold;
    margin: 0;
    color: var(--title-color);
    line-height: 70px;
    vertical-align: middle;
    font-size: 16px;
    line-height: normal;
    letter-spacing: 1px;
}