:root {
  --bg-hd-color: #fff;
  --bg-color: #fff;
  --bg-gray-color: #efefef;
  --title-color: #000;
  --primary: #ff5c00;
  --bg-color-light: #fff;
  --text-color: #5a5a5a;
  --curve: 8px;
  --bg-feedback: rgba(255, 255, 255, 0.3);
  --light-bg-color: #fff;
  --card-box-shadow: 1px 5px 7.5px rgba(14, 13, 13, 0.2);
  --card-hover-box-shadow: 0 0.5rem 1rem rgba(149, 126, 126, 0.09);
  --border-color-light: #fff;
    --iframe-filter: grayscale(0%);
    --sub-menu-color: #444;
    --text-color-stroke: #000;
    --text-hover-stroke: #fff;
}

[data-theme="dark"] {
  --bg-hd-color: #000;
  --bg-color: #131617;
  --bg-gray-color: #131617;
  --title-color: #fff;
  --light-bg-color: #191c1d;
  --text-color: #7b7b7b;
  --border-color-light: #333;
  --bg-feedback: rgba(0, 0, 0, 0.7);
    --iframe-filter: grayscale(100%);
    --sub-menu-color: #ddd;
    --text-color-stroke: #fff;
    --text-hover-stroke: #000;
}

* {
  margin-top: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 1px;
}
@font-face {
  font-family: bold-nunito;
  src: url(./font/Nunito-Bold.eot);
  src: url(./font/Nunito-Bold.ttf);
  src: url(./font/Nunito-Bold.woff);
}
@font-face {
  font-family: regular-nunito;
  src: url(./font/Nunito-Regular.eot);
  src: url(./font/Nunito-Regular.ttf);
  src: url(./font/Nunito-Regular.woff);
}

body,
html {

  font-family: "nunito", sans-serif;
  scroll-behavior: smooth;
}

a.active {
  color: #ff5c00;
}

.title {
  margin-bottom: 48px;
}
.title h2 {
  font-size: 48px;
  color: var(--primary);
  text-align: center;
  text-transform: capitalize;
  font-weight: bold;
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  .title h2 {
    font-size: 40px;
  }
}

@media screen and (max-width: 575px) {
  .title h2 {
    font-size: 36px;
  }
}

.section__padding {
  padding: 48px 0;
}

img {
  display: block;
}

.button__fill {
  background-image: linear-gradient(to right, #ff5c00 0, #f89a56 51%, #ff5c00 100%);
  color:  var(--text-color-stroke);
  text-transform: uppercase;
  font-size: 16px;
  border: 1px solid transparent;
  line-height: 50px;
  border-radius: var(--curve);
  width: 160px;
  transition: all 0.5s;
  background-size: 200%;
}

.button__fill:focus,
.button__stroke:focus  {
  outline: none;
}

.button__stroke {
  background-color: transparent;
  color: var(--text-color-stroke);
  text-transform: uppercase;
  font-size: 16px;
  border: 1px solid #ff5c00;
  line-height: 50px;
  border-radius: var(--curve);
  width: 160px;
  background: linear-gradient(to right, rgba(0 , 0, 0, 0) 
    0, #f89a56 51%, #ff5c00 100%);
  background-size: 200%;
  transition: all .5s;
}
/* 
.button__stroke::before {
  content: "";
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  border-radius: var(--curve);
} */

.collection_box_product button {
  
  border-radius: 8px;
  background-color: var(--bg-gray-color);
  box-shadow: var(--card-hover-box-shadow);
  border:1px solid var(--text-color);
  display: flex;
  width: 100%;
  height: 70px;
  justify-content: center;
  align-items: center;
}

.collection_box_product p {
  font-weight: bold;
  margin: 0;
  color: var(--title-color);
  line-height: 70px;
  vertical-align: middle;
  font-size: 16px;
  line-height: normal;
  letter-spacing: 1px;
}

.bar {
  text-transform: uppercase;
}

input:focus-visible {
  outline: none;
}

@media screen and (min-width: 992px) {
  .button__fill:hover {
    background-position: right center;
    color: var(--text-hover-stroke);
  }

  .button__stroke:hover {
    color: var(--text-hover-stroke);
    background-position: right center;

  }
}
