/* banner  */

.banner {
  background-image: url(../imgs/banner.webp);
  background-size: cover;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
}

.banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

.banner img {
  left: 21%;
  z-index: 2000;
  position: absolute;
  width: 110px;
}

/* Colection  */
.colection {
  background-color: var(--light-bg-color);
}

.colection.section__padding {
}

.colection .colection__content img {
  border-radius: var(--curve);
  width: 100%;
  transition: all linear 0.3s;
  object-fit: cover;
}

.colection .colection__content .colection__img {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  margin-bottom: 30px;
}

.colection .colection__content .colection__img::before {
  content: "";
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -100%;
  display: block;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  transform: skewX(-25deg);
  transition: all 0.75s;
}

.colection .colection__content h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  width: 100%;
  text-align: center;
}

.colection .colection__content h3 a {
  color: #fff;
  text-decoration: none;
  transition: all 0.5s;
  font-size: 28px;
}

.colection .colection__content .col-4 {
  margin-top: 30px;
  padding: 0 15px;
}

.colection .colection__img:hover img {
}

.colection .col-4:nth-of-type(3) img {
}

.portfolio__overlay {
  position: absolute;
  border-radius: var(--curve);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  transition: all 0.75s;
}

/* Gift  */
.gift {
  display: flex;
  align-items: center;
}

.gift .gift__left {
  width: 65%;
}

.gift .gift__left img {
  width: 100%;
}

.gift .gift__right {
  text-align: left;
  width: 35%;
  padding-right: 100px;
  background-color: #f8f8f8;
}

.gift .gift__right.title h2 {
  text-align: left;
}

/* Products  */

.products {
  background-color: var(--bg-color);
}

.products.section__padding {
}

.products .products__content .col-4 {
}

.products .products__content .bg__product {
  padding: 30px;
  background: var(--bg-color);
  box-shadow: var(--card-box-shadow);
  border: 1px solid var(--border-color-light);
  border-radius: var(--curve);
  transition: 0.3s ease-in;
  cursor: pointer;
}

.products .products__content .product__img {
  position: relative;
}

.products .products__content img {
  border-radius: var(--curve);
  transition: 0.3s ease-in;
  width: 100%;
}

.products .products__content .col-xl-4:first-child,
.products .products__content .col-xl-4:nth-child(2),
.products .products__content .col-xl-4:nth-child(3),
.products .products__content .col-xl-4:nth-child(4),
.products .products__content .col-xl-4:nth-child(5),
.products .products__content .col-xl-4:nth-child(6) {
  margin-bottom: 30px;
}

.products .products__content .product__bottom span {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: inline-block;
  border: 1px solid #000;
  margin-bottom: 16px;
  margin-top: 32px;
  margin-right: 8px;
  cursor: pointer;
}

.products .products__content .product__bottom span:first-child {
  background-color: bisque;
}

.products .products__content .product__bottom span:nth-child(2) {
  background-color: burlywood;
}
.products .products__content .product__bottom span:nth-child(3) {
  background-color: aquamarine;
}
.products .products__content .product__bottom span:nth-child(4) {
  background-color: lightskyblue;
}
.products .products__content .product__bottom h3 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 16px;
}

.products .products__content .product__bottom h3 a {
  color: var(--title-color);
  text-decoration: none;
  transition: all 0.5s;
}

.products .products__content .product__bottom p:first-of-type {
  text-transform: capitalize;
  color: var(--text-color);
}

.products .products__content .product__bottom p:last-of-type {
  text-transform: uppercase;
  color: var(--title-color);
}

.products .products__content .product__img .product__overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: var(--curve);
  transition: all 0.5s;
  cursor: pointer;
  opacity: 0;
}

.products .products__content .product__img .product__overlay .button__fill {
  margin-bottom: 30px;
}

.products .button {
  margin-top: 18px;
}

.products hr {
  border: 0.2px solid var(--text-color);
  margin-top: 24px;
}

/* Feedback */
.feedback {
  /* background: var(--light-bg-color) */
  background: linear-gradient(
      to right,
      rgba(225, 225, 225, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(../imgs/feeedback.jpg);
  /* background: url(../imgs/feeedback.jpg); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  position: relative;
}

.feedback::before {
  /* position: absolute;
  content:"";
  top:0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: var(--bg-feedback);
  z-index: 0; */
}

.feedback .feedback__content .feedback__bottom .feedback__info {
  max-width: 95%;
  margin: 0 auto;
  margin-top: 24px;
  padding: 2rem;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 50px;
  background-color: var(--bg-color);
  border-radius: var(--curve);
}

.feedback .feedback__content .feedback__bottom .feedback__info .feedback__img {
  width: 100px;
  height: 100px;
  display: inline-block;
  overflow: hidden;
  background: #f3f6f9;
  border-radius: 50%;
  border: 3px solid var(--primary);
}

.feedback .feedback__content .feedback__bottom .feedback__comment {
  position: relative;
}

.feedback .feedback__content .feedback__bottom .feedback__comment i {
  font-size: 30px;
  color: var(--title-color);
  opacity: 0.2;
  position: absolute;
  top: 0px;
  left: -40px;
  right: 0;
}

.feedback .feedback__content .feedback__bottom .feedback__comment p {
  font-size: 16px;
  line-height: 26px;
  color: var(--title-color);
  margin-bottom: 0;
}

.feedback
  .feedback__content
  .feedback__bottom
  .feedback__comment
  .feedback__name {
  padding-top: 1.5rem;
}

.feedback
  .feedback__content
  .feedback__bottom
  .feedback__comment
  .feedback__name
  h4 {
  font-size: 18px;
  color: var(--primary);
  font-weight: 400;
  margin-bottom: 0;
}

.feedback
  .feedback__content
  .feedback__bottom
  .feedback__comment
  .feedback__name
  p {
  font-size: 13px;
  color: var(--text-color);
}

.owl-theme .owl-nav.disabled + .owl-dots {
}

.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  background: transparent;
  padding: 0;
}
.owl-theme .owl-dots .owl-dot span {
  width: 40px;
  height: 5px;
  margin: 5px 5px;
  background: var(--bg-color);
  display: block;
  border: none;
  -webkit-backface-visibility: visible;
  transition: opacity 0.2s ease;
  border-radius: 0;
  position: relative;
}

.community {
  background-color: var(--bg-color);
}

.community .title {
  margin-bottom: 0;
}

.community .title h2 {
  width: 65%;
  margin: 0 auto;
  margin-bottom: 24px;
}

.community .title p {
  margin-bottom: 24px;
  color: var(--text-color);
}

/* Responsive */
@media screen and (min-width: 1200px) {
  .colection .colection__content img {
    min-height: 350px;
  }
}

@media screen and (min-width: 991px) {
  .colection .colection__content .colection__img:hover::before {
    left: 125%;
  }
  
  .colection .colection__content .colection__img:hover h3 a {
    color: var(--primary);
  }
  

  .colection .colection__img:hover .portfolio__overlay {
    opacity: 1;
  }

  .products .products__content .bg__product:hover {
    transform: translateY(-0.5rem);
  }

  .products .products__content .bg__product:hover a {
    color: var(--primary);
  }

  .products .products__content .product__bottom h3 a:hover {
    color: var(--primary);
  }

  .products .products__content .product__img:hover .product__overlay {
    opacity: 1;
  }

}

@media screen and (max-width: 991px) {
  .products .products__content .product__img .product__overlay.active {
    opacity: 1;
  }

}

/* <= 1200 px  */
@media screen and (max-width: 1200px) {
  /* Collection  */

  .colection .colection__content h3 a {
    color: #fff;
    text-decoration: none;
    transition: all 0.5s;
    font-size: 22px;
  }
}

@media screen and (max-width: 575px) {
  .community .title h2 {
    width: 80%;
  }
}
