h1, h2, h3, h4, h5, h6{
    font-weight: bold;
    color: var(--primary);
}
body{
  background-color: var(--light-bg-color);
}
b{
    color: var(--title-color);
}
hr{
  background-color: var(--title-color);
  opacity: 20%;
}
.img{
  padding: 10px;
}

.fa-brands{
  color: var(--title-color);
}
.title1{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.titlebox{
    display: flex;
    align-items: flex-start;
}
.titlebox h6{
    padding-left: 8px;
}
.bar span:nth-child(6),
.bar span:nth-child(4) {
  color: var(--title-color) !important;
}

.bar span:nth-child(3) a,
.bar span:nth-child(5) a,
.bar span:nth-child(3),
.bar span:nth-child(5) {
  color: var(--title-color);
  text-decoration: none;
  transition: all .3s;
}

.bar span:nth-child(3) a:hover,
.bar span:nth-child(5) a:hover {
  color: var(--primary);
}
/* Customize the label (the titlebox) */
input[type="checkbox"] {
  border: 1px solid #ff5c00; /* Màu border mặc định */
}

input::after {
  content: "";
  position: absolute;
  width: 13px;
  height: 13px;
  border: solid 1px #ff5c00;
  border-radius: 3px;
}
input {
  accent-color: #ff5c00 !important;
  position: relative;
  cursor: pointer;
}
  
.paymentbox{
    margin-top: 46px;
    margin-bottom: 46px;
    margin-right: 0;
    margin-left: 0;
}  
.ordersummary{
    background-color: var(--bg-gray-color);
    border-radius: var(--curve);
    padding: 10px;
    padding-bottom: 10px;
    height: fit-content;
    box-shadow: var(--card-box-shadow);
    border: var(--border-color-light);
    
}
.Pay_infor{
    background-color: var(--bg-gray-color);
    border-radius: var(--curve);
    padding: 10px;
    padding-bottom: 10px;
    box-shadow: var(--card-box-shadow);
    border: var(--border-color-light);
    margin-bottom: 46px;
}
.title1{
    display: flex;
    justify-content: space-between;
}
.product{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.provisional{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: end;
}
.img-fluid{
    border-radius: var(--curve);
    box-shadow: var(--card-box-shadow);
}
.total{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.total b{
    font-size: 25px;
    color: var(--title-color);
}
.btn{
    display: flex;
    justify-content: space-around;
}
/* Working  */

.working {
  background-color: var(--light-bg-color);
}

.working .title h2 {
  margin-bottom: 26px;
  text-align: center;
}

.working img {
  min-height: 128px !important;
  margin: 0 auto;
  margin-bottom: 26px;
  width: 110px !important;

}

.working p {
  color: var(--text-color);
  text-align: center;
  padding: 0 15px
}
/* XL */
@media (min-width:1200px) {

}
/* LG */
@media (min-width:992px) and (max-width:1199px) {

}
/* MD */
@media (min-width:768px) and (max-width:991px) {
  .bar span:nth-child(3) a:hover,
  .bar span:nth-child(5) a:hover {
    color: var(--title-color);
  }
}
/* SM */
@media (min-width:576px) and (max-width:767px) {
  .bar span:nth-child(3) a:hover,
  .bar span:nth-child(5) a:hover {
    color: var(--title-color);
  }

}
/* XS */
@media (max-width:575px) {
  .bar span:nth-child(3) a:hover,
  .bar span:nth-child(5) a:hover {
    color: var(--title-color);
  }
.box{
  padding: 0;
}

}
