

.bar span:last-child {
  color: var(--primary);
}

.bar span:first-child a,
.bar span:nth-child(2) {
  color: var(--title-color);
  text-decoration: none;
  transition: all 0.3s;
}


.return {
  background-color: var(--bg-color);
}

.return h3 {
  color: var(--title-color)
}

.return p {
  color: var(--text-color);
}

.return li::marker {
  color: var(--text-color);
}

.return ul {
    transform: translateX(30px);
    max-width: 79%;
}

@media screen and (min-width: 992px) {

.bar span:first-child a:hover {
  color: var(--primary);
}
}