*{
    letter-spacing: 1px;
    list-style-type: none;
}
a:hover{
    text-decoration: none;
}
h4{
    letter-spacing: 0;
}
@media screen and (min-width:576px) and (max-width:991px) { 
    .box_style_trends{
        margin-top: 20px;
    }
    .box_style_trends_2{
        margin: 10px 0 !important;
    }
    .style2{
        margin-bottom: 40px !important;
    }
}
@media screen and (max-width:768px) {
    .box_style_trends_3{
        margin-top: 20px;
    }  
    .style_trends{
        padding-bottom: 20px !important;
    }
    .tutor_text{
        margin-top: 0 !important;
        margin-bottom: 20px !important;
    }
    .box-tutor{
        margin-bottom: 20px !important;
    }
}
@media screen and (max-width:576px) {
    .box_style_trends{
        margin-top: 20px;
    }
    .box_style_trends_2{
        margin: 10px 0 !important;
    }
    .box_style_trends_3{
        margin-top: 20px;
    }
    .style2{
        margin-bottom: 40px !important;
    }
}